VITE_FIREBASE_API_KEY=AIzaSyCVTEfxKsQz-dXyBIFayVxYKQtCX_PKfWY
VITE_FIREBASE_AUTH_DOMAIN=tu-logo-en-mi-mac.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tu-logo-en-mi-mac
VITE_FIREBASE_STORAGE_BUCKET=tu-logo-en-mi-mac.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=277397962396
VITE_FIREBASE_APP_ID=1:277397962396:web:daf088c1da12796b61f759
